<div class="form-group  nested-fields">
    <div class="form-row">
        <%= f.hidden_field :_destroy %>
        <div class="col-5">
            <%= f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }, {}, {class: 'form-control'} %>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center"><i class="fas fa-long-arrow-alt-right"></i></div>
        <div class="col-5">
            <%= f.select :time, [
                ['0.5時間', 30],
                ['1時間', 60],
                ['1.5時間', 90],
                ['2時間', 120],
                ['2.5時間', 150],
                ['3時間', 180],
                ['3.5時間', 210],
                ['4時間', 240],
                ['4.5時間', 270],
                ['5時間', 300],
                ['5.5時間', 330],
                ['6時間', 360],
                ['6.5時間', 390],
                ['7時間', 420],
                ['7.5時間', 450],
                ['8時間', 480],
            ], {}, {class: 'form-control'} %>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
            <%= link_to '#', class: "remove_fields" do %>
                <i class="fas fa-trash-alt"></i>
            <% end %>
        </div>
    </div>
</div>
