<footer class="container-fluid p-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="p-footer__logo">
                    <img class="logo" src="/images/logo.png" alt="">
                    <p>Study is a daily accumulation.</p>
                </div>
            </div>
        </div>
        <div class="p-footer__copy">© 2020 engstack.net</div>
    </div>
</footer>
