<header class="container-fluid p-header">
    <div class="container p-header__inner">
        <h1 class="m-0"><img class="logo" src="/images/logo.png" alt=""></h1>
        <div class="d-flex">
            <a href="" class="p-btn p-btn--post">
                <i class="fas fa-edit"></i> 投稿する
            </a>
            
            <div class="dropdown show p-dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="profile-icon" src="/images/jdenticon/icon-01.png" alt="">
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
</header>