<aside class="p-aside">
    <div class="p-userinfo">
        <div class="p-userinfo__header">
            <img class="profile-icon" src="/images/jdenticon/icon-01.png" alt="">
            <div class="p-userinfo__screenname">@rorono</div>
        </div>
        <div class="p-userinfo__status">
            <div class="p-userinfo__statusItem">
                <div class="p-userinfo__statusCount">134</div>
                <span class="p-userinfo__statuslabel">投稿数</span>
            </div>
            <div class="p-userinfo__statusItem">
                <div class="p-userinfo__statusCount">54</div>
                <span class="p-userinfo__statuslabel">継続日数</span>
            </div>
        </div>
    </div>

    <div class="p-ranking">
        <div class="p-ranking__header">
            ランキング
        </div>

        <div class="p-rankbox">
            <div class="p-rankbox__text">
                <span class="listmarker"><i class="fas fa-trophy" style="color: #ffc400;"></i></span> <img src="/images/serviceicon/html5.png" alt=""> HTML5
            </div>
            <div class="p-rankbox__time">
                <div class="p-rankbox__timeCount">120</div>
                時間
            </div>
        </div>
        <div class="p-rankbox">
            <div class="p-rankbox__text">
                <span class="listmarker"><i class="fas fa-trophy" style="color: #c9c9c9;"></i></span> <img src="/images/serviceicon/css3.png" alt=""> CSS3
            </div>
            <div class="p-rankbox__time">
                <div class="p-rankbox__timeCount">90</div>
                時間
            </div>
        </div>
        <div class="p-rankbox">
            <div class="p-rankbox__text">
                <span class="listmarker"><i class="fas fa-trophy" style="color: #ac6d4d;"></i></span> <img src="/images/serviceicon/javascript.png" alt=""> JS
            </div>
            <div class="p-rankbox__time">
                <div class="p-rankbox__timeCount">80</div>
                時間
            </div>
        </div>
        <div class="p-rankbox">
            <div class="p-rankbox__text">
                <span class="listmarker">4</span> <img src="/images/serviceicon/docker.png" alt=""> Docker
            </div>
            <div class="p-rankbox__time">
                <div class="p-rankbox__timeCount">30</div>
                時間
            </div>
        </div>
    </div>
</aside>
