<div class="p-summary d-flex">
    <span class="icon">🎉</span>
    <div>
        <span class="date">2020年1月1日</span>
        <div class="badges">
            <span class="badge badge-secondary">HTML</span>
            <span class="badge badge-secondary">CSS</span>
            <span class="badge badge-secondary">JavaScript</span>
        </div>
        <div class="text">
            <p>今日は☓☓と▶▶を勉強しました。■■の部分が難しくて時間内に終わりませんでした。</p>
        </div>
    </div>
</div>